body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	font-family: "VT323", monospace;
}

body,
.snake {
	background-color: #006400;
}

#game-board {
	border-radius: 100px;
	display: grid;
	grid-template-columns: repeat(20, 20px);
	grid-template-rows: repeat(20, 20px);
	margin: 5px;
}

@media screen and (max-width: 400px) {
	#game-board {
		grid-template-columns: repeat(20, 5px);
		grid-template-rows: repeat(20, 5px);
	}
}

@media screen and (min-width: 1000px) {
	#game-board {
		grid-template-columns: repeat(20, 30px);
		grid-template-rows: repeat(20, 30px);
	}
}

@media screen and (max-width: 600px) {
	#game-board {
		grid-template-columns: repeat(20, 15px);
		grid-template-rows: repeat(20, 15px);
	}
	#logo {
		height: 150px;
		object-fit: contain;
	}
}

.game-border-1 {
	border: #cd853f solid 10px;
	border-radius: 30px;
	box-shadow: inset 0 0 0 10px #cd853f;
}

.game-border-2 {
	border: #8b4513 solid 8px;
	border-radius: 26px;
	box-shadow: inset 0 0 0 10px #8b4513;
}

.game-border-3 {
	border: #556b2f solid 30px;
	border-radius: 20px;
	box-shadow: inset 0 0 0 5px #556b2f;
}

#instruction-text {
	position: absolute;
	top: 60%;
	color: #333;
	width: 300px;
	text-align: center;
	text-transform: capitalize;
	padding: 30px;
	margin: 0;
}

.scores {
	display: flex;
	justify-content: space-between;
}

#score {
	color: #abb78a;
}

#score,
#highScore {
	font-size: 40px;
	font-weight: bolder;
	margin: 10px 0;
}

#highScore {
	color: #d8ddca;
	display: none;
}

.game-border-3,
#logo {
	background-color: #c4cfa3;
}

.snake {
	border: #5a5a5a 1px dotted;
}
.food {
	background-color: #dedede;
	border: #999 5px solid;
}
#logo {
	position: absolute;
	width: 250px;
	background: transparent;
}
